body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #00b342;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    cursor: pointer;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

td:first-child {
    border-bottom-left-radius: 8px;
}

td:last-child {
    border-bottom-right-radius: 8px;
}

th:hover {
    background-color: #e0e0e0;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

#table {
    overflow-x: auto;
    overflow-y: auto;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.disabled:hover {
    color: red !important;
    cursor: not-allowed;
}

.input-group {
    margin-bottom: 20px;
    margin-top: 20px;
}

.input-group .form-control {
    border-radius: 20px 0 0 20px;
    padding: 8px;
}

.input-group .btn {
    border-radius: 0 20px 20px 0;
}

#table {
    margin-top: 20px;
}